.caterogy_header.receipt {
    justify-content: center;
}

.product_body_header-item.xuat,
.product_body_header-id.btn_xuat {
    width: 150px;
}

.product_body_header-item.list.time,
.product_body_header-item.time {
    width: 300px;
}

.receipt_admin-btn {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid #74b8e9;
    border-radius: 9999999px;
    cursor: pointer;
    font-size: 2rem;
    transition: 0.2s;
}

.receipt_admin-btn:hover {
    background-color: #74b8e9;
    color: #fff;
}

.header_title.receipt {
}
